# Required for Linode LKE: use internal IP and skip TLS verification for kubelet.
args:
  - --kubelet-insecure-tls
  - --kubelet-preferred-address-types=InternalIP

replicas: ${replicas}

resources:
  requests:
    cpu: ${resources.requests.cpu}
    memory: ${resources.requests.memory}
  limits:
    cpu: ${resources.limits.cpu}
    memory: ${resources.limits.memory}

podDisruptionBudget:
  enabled: ${replicas > 1 ? "true" : "false"}
  minAvailable: 1
%{ if length(node_selector) > 0 ~}

nodeSelector: ${jsonencode(node_selector)}
%{ endif ~}
