# Required for Linode LKE: use internal IP and skip TLS verification for kubelet.
args:
  - --kubelet-insecure-tls
  - --kubelet-preferred-address-types=InternalIP

replicas: ${replicas}

resources:
  requests:
    cpu: ${requests_cpu}
    memory: ${requests_memory}
  limits:
    cpu: ${limits_cpu}
    memory: ${limits_memory}

podDisruptionBudget:
  enabled: ${replicas > 1 ? "true" : "false"}
  minAvailable: 1
%{ if length(node_selector) > 0 ~}

nodeSelector:
%{ for k, v in node_selector ~}
  ${k}: "${v}"
%{ endfor ~}
%{ endif ~}
