apiVersion: v1
kind: Config
clusters:
  - name: lke
    cluster:
      server: "${host}"
      certificate-authority-data: "${ca_cert_b64}"
users:
  - name: lke-user
    user:
      token: "${token}"
contexts:
  - name: lke
    context:
      cluster: lke
      user: lke-user
current-context: lke
